
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    transition: 0.5s;
    text-transform: capitalize;
}

body{
    display: flex;
    flex-direction: column;
}
  /* the font size uses 65% of the screen and the scroll behavior is set to smooth to allow easy movement */
html {
    font-size: 65%;
    scroll-behavior: smooth;
}
  /* this contains my background color, position fixed so it stays in place even if moved */
.header {
    padding: 1rem 7%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #1d1d23;
}
  
  /* this controled the navbar the size, color and postioning of buttons */
.navbar a {
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
}
  /* adds the root hovor feature to contact botton that changes its color */
.navbar a:hover {
    color: var(--hover-color);
}
  /* control the icon bottons for the navbar */
.contactButton div i {
    color: white;
    font-size: 1.5rem;
    margin-right: 10px;
    display: none;
}
  /* this allows the hover to activate when using the pointer */
.contactButton div:hover {
    cursor: pointer;
}
  /* this is the outline of the box on the contact botton when using the pointer */
.contactButton a {
    color: white;
    padding: 0.6rem 1.5rem;
    border: 1px solid firebrick;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.5s;
    display: inline-block;
}
  /* this changes the appearance of a button when hovered */
.contact-btn:hover {
    transform: scale(1.1);
    background: var(--hover-color);
    border: 1px solid white;
}
/* #hero {
    width: 100%;
    height: 100%;
    background-position: center;
    background: url("/public/Madra.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 32px;
} */

.logopic {
    height: 55px;
    margin-left: 15px;
    margin-bottom: 10px;
}
.heroHolder {
    max-width: 1140px;
    margin: 0 auto;
}
.hero-box {
    width: 100%;
    margin-top: 80px;
    background-color: black;
}
.hero-box .hero-heading {
    color: gold;
    font-size: 50px;
    line-height: 65px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.hero-box .hero-desc {
    color: white;
    font-size: 18px;
    line-height: 27px;
    padding: 30px 0;
    text-align: center;
}
  
.logo img {
    width: 60px;
}
  
h1.arrivals {
    font-size: 5rem;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    color: gold;
}
.main-container {
    display: flex;
    background-color: black;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}
main {
    padding: 50px;
    flex-direction: column;
    background-color: black;
}
  
main h2 {
    margin-bottom: 20px;
}
  
.new-arrival-info {
    display: flex;
    background-color: black;
    padding: 40px 20px 20px;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
  
.middle-title {
    font-size: 60x;
    line-height: 25px;
    color: firebrick;
    margin-bottom: 20px;
}
  
.new-arrival-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
  
.new-arrival-box {
    width: 48%;
    min-width: 324px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: black;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    height: 115px;
    overflow: hidden;
    aspect-ratio: 1/1;
}
  
@media screen and (max-width: 767px) {
    .new-arrival-box {
      font-size: 14px;
      padding: 10px;
    }
}
  
.new-arrival-box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
  
.new-arrival-title {
    margin-top: 0;
    font-size: 18px;
    color: gold;
}
  
.new-arrival-description {
    padding-top: 8px;
    color: white;
    font-size: 13px;
    max-height: 100%;
    overflow: auto;
}
  
@media (max-width: 768px) {
    .new-arrival-title {
      font-size: 12px;
    }
    .new-arrival-description {
      font-size: 10px;
    }
}
.navbar-mobile{
    display: none;
}
@media (max-width: 768px){
    .navbar{
      display: none;
} 
.navbar-mobile {
      overflow: hidden;
      display: block;
      background-color: #333;
      font-family: Arial;
}
    
/* Links inside the navbar */
.navbar-mobile a {
      float: left;
      font-size: 16px;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
}
    
/* The dropdown container */
.dropdown {
      float: left;
      overflow: hidden;
}
    
/* Dropdown button */
.dropdown .dropbtn {
      font-size: 16px;
      border: none;
      outline: none;
      color: white;
      padding: 14px 16px;
      background-color: inherit;
      font-family: inherit; /* Important for vertical align on mobile phones */
      margin: 0; /* Important for vertical align on mobile phones */
}
    
/* Add a red background color to navbar links on hover */
.navbar-mobile a:hover, .dropdown:hover .dropbtn {
      background-color: red;
}
    
/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
    
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
    
/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}
    
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
     display: block;
    }
}
